#about {
  margin: 20px 14px;
  text-align: justify;
  text-justify: inter-word;
}

#about-text-kit {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  margin: 0 14px;
  text-align: center;
}

#gallery {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
}

.gallery-image {
  height: auto;
  padding: 4px 0;
  width: 100%;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin: 15px 0 20px;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#icons img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  width: 50%;
}

li {
  padding: 4px 0;
}

#main {
  display: flex;
}

nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
}

#pricing-bullets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 14px;
}

.pricing-section {
  width: 100%;
}

section:not(:nth-of-type(1)) {
  padding-top: 10px;
}

.section-header {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  text-align: center;
}

#splash-image {
  background-image: url("https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/67776126_246041319693681_2180863265365323398_n.jpg?_nc_ht=scontent-lhr8-1.cdninstagram.com&_nc_cat=109&_nc_ohc=O3cUlxeVAmYAX9pCfGH&oh=999899c467d629b4c92ac309d5ebf28a&oe=5F70B423");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: auto;
  text-align: center;
  width: 100%;
}

strong {
  font-weight: 700;
  text-transform: uppercase;
}

#title {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 400;
  padding-top: 40vh;
}

.pricing-section:nth-child(2) h3 {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  #about {
    margin: 0 15%;
  }

  #about-services-kit {
    padding-left: 10%;
    width: 30%;
  }

  #about-text-kit {
    flex-direction: row;
  }

  #about-text {
    width: 60%;
  }

  #contact {
    margin: 0 15%;
  }

  #contact p {
    font-size: 20px;
  }

  #gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery-image {
    padding: 4px;
  }

  .gallery-square {
    width: 30%;
  }

  .gallery-portrait {
    width: 22.3%;
  }

  h3 {
    margin: 30px 0;
  }

  #pricing {
    margin: 0 15%;
  }

  #pricing-bullets {
    flex-direction: row;
  }

  .pricing-section {
    padding: 0 10%;
    width: 45%;
  }

  .pricing-section:nth-child(2) h3 {
    margin-top: 30px;
  }

  .section-header {
    font-size: 80px;
    text-align: initial;
  }

  #splash-image {
    background-attachment: fixed;
  }

  #title {
    font-size: 100px;
    padding-top: 30vh;
  }
}
